.filterBar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(19, 19, 19);
    padding: 5px;
    margin-bottom: 10px;
    position: sticky;
}

.filterBar input {
    margin-right: 5px;
    width: 70px;
    font-size: 12px;
}

.filterBar select{
    font-size: 12px;
}